div
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github &rarr;

div
    a(href="/users/kakao/start").social__btn.social__btn--kakao
        i.fab.fa-comments 
        |  Continue with Kakao Talk &rarr;
        